body {
	display: flex;
	height: 98vh;
	flex-direction: column;
}

header, main, footer {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

main {
	flex-grow: 1;
}


header {
	align-items: center;
}