body {
	display: flex;
	height: 98vh;
	flex-direction: column;
}

header, main, footer {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

main {
	flex-grow: 1;
}


header {
	align-items: center;
}
/*
#info-container {
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	flex-shrink: 1;
	width: 100%;
}

#nav-container {
	display: flex;
	flex-grow: 1;
	width: 80vw;
	justify-content: space-between;
	height: 5vh;
	margin-top: 1vh;
}

#logo {
	text-align: left;
	min-width: 30px;
	width: 30%;
	height: 100%;
	padding-left: 1rem;
}

#nav-link-container {
	width: 30%;
	text-align: right;
	padding-right: 1rem;
}

#page-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
}*/